{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<navbar class="h-15 font-semibold text-center items-center">
  <div class="flex justify-between items-center navbar bg-neu-50 rounded-t-lg shadow-xl border-b-4 border-indigo-500">
    <!--<div class=" py-1 m-3 indicator">
      <h4 class="text-preto-50">Wellcome</h4>
    </div> -->
    <div class="m-3 ">
      <a class="indicator text-indigo-700 ">
        Things Todo:  
        <span class="font-extralight badge"> {{tasks|length}}</span>
      </a> 
    </div>
    <div class="m-3 ">

    </div>
    

    <div class="m-3">
        <label for="my-modal" class="bg-indigo-500 hover:bg-indigo-600 border-none btn modal-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.6" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>          
        </label>
    </div>
  </div>

 
</navbar>




<div class="mt-5 h-full">
 <!-- <div class="container mx-auto h-82">
      <form action="/" method="POST">
          <input class="input input-bordered input-md w-full max-w-xs" type="text" placeholder="todo" name="content" id="content" maxlength="30">
          <input value="Add Task" type="submit"class="btn">
      </form>
  </div>


 Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  
  <form action="/" method="POST">
    <div class="modal-box w-screen max-w-1xl h-1/2 maxh-1xl grid justify-center items-center">

      <div class="w-full">
        <p class="font-sans font-norma text-2xl">Title</p>
        <input class="input input-bordered input-md w-full max-w-xs" type="text" placeholder="" name="title" id="title" maxlength="30">

      </div>
      <div class="top-3 w-full">
        <p class="font-sans font-norma text-2xl">Note</p>
        <textarea class="input input-bordered input-md w-96 max-w-xs h-44 resize-none rounded-md" type="text" placeholder="" name="content" id="content" maxlength="100"></textarea>
      </div >
      
        <div class="modal-action">
        <label for="my-modal" class="btn btn-ghost text-red-700 hover:bg-neu-100 ">Cancel</label>

        <input for="my-modal" value="Add Task" type="submit" class="btn bg-indigo-500 border-indigo-500 hover:bg-indigo-600">
      </div>

    </div>
  </form>
</div>

<!-- ================== -->

<div class="scrollbar-hide container mx-auto h-full w-full overflow-y-auto bg-neu-50 shadow-xl">
  <div class="m-2 p-2 grid grid-cols-2 gap-7 h-auto">

    {% for task in tasks %}
      <div class="h-auto indicator bg-neu-100 text-black w-full flex rounded-xl shadow-md p-1 justify-between">
        
        {% if task.dtaatt|length < 1  %}
        <span class="indicator-item indicator-start badge badge-xs h-fit badge-secondary left-5 font-normal text-xs absolute tooltip  tooltip-right" data-tip="Create: {{task.dtainc}}">new</span>
        
        {% else %}
        <div class="indicator-item indicator-start badge badge-lg h-fit badge-accent left-8 font-normal text-xs absolute"></div>

        {% endif %}


        <div class="flex flex-col w-full bg-neu-100">
          
          <div class="flex items-center space-x-4 m-1 ml-6">
            <div class="text-md font-bold">{{ task.title }}</div>
          </div>

          <div class="m-4 ml-6 font-normal text-neu-400 text-sm flex justify-between">
            <p style="overflow-wrap: break-word; word-wrap: break-word;word-break: break-word;">{{ task.content }}</p>
          </div>
        </div>

        
        <div>
          <ul class="menu bg-neu-100">
            <li class="rounded-tr-lg">
              <a  class="btn btn-ghost bg-neu-100 hover:bg-neu-100 text-neu-900 hover:text-indigo-700" href="update/{{task.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>                               
              </a>
            </li>
            <li>
              <a  class="btn btn-ghost bg-neu-100 hover:bg-neu-100 text-neu-900 hover:text-indigo-700" href="delete/{{task.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
              </a>
            </li>
            <li>
            </li>
          </ul>
        </div>
       
      </div>
      
    {% endfor %}
    
  </div>
</div>





<!-- <div class="w-full h-full">
  <div class="absolute -bottom-10 right-0 mr-8 mb-32 ">
      <div class="bg-white rounded-lg shadow-md px-4 py-2 border-1 border-gray-400">
          Was this doc helpful to you?
         
      </div>
  </div>
</div> -->

{% endblock %}